body {
  font-family: sans-serif;
  background-color: #dcf4f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.wrapperList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  gap: 10px;
  width: 284px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* 
.wrapperList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  gap: 10px;
  width: 284px;


} */
